.log-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .log-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .log-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .log-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  


/* table动画 */
  .row-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .row-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .row-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .row-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
  }
  

  /* 点击展开table */

  .fade-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
  